.station-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.station-data {
  /* background-color: antiquewhite; */
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card-station {
  width: 300px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
  /* give me a beauty box shadow1 */
  box-shadow: 3px 2px 5px 0px rgba(165, 151, 151, 0.75);
}

.card-station:hover {
  /* give me a beauty box shadow2 */
  box-shadow: 3px 2px 5px 0px rgba(56, 55, 55, 0.75);
  cursor: pointer;
}

.plus-button {
  background-color: rgb(0, 119, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  width: 50px;
  height: 50px;
  right: 20px;
  padding: 10px;
  border-radius: 30px;
}

.plus-text {
  font-size: 32px;
  margin-top: 30px;
  font-weight: bold;
  color: wheat;
}

.plus-button:hover {
  background-color: rgb(0, 255, 255);
  cursor: pointer;
}

.plus-text:hover {
  color: black;
}

.form-add-station {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-con {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  /* background-color: aliceblue; */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 2px 5px 0px rgba(165, 151, 151, 0.75);
}

input[type="text"], input[type="password"]{
  width: 500px;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin: 10px;
  font-size: 1.2em;
  border-bottom: 1px solid rgb(38, 43, 49);
}


.edit-p{
    color: rgb(0, 119, 255);
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.delete-p{
    color: rgb(255, 0, 0);
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

select{
  width: 500px;
  height: 80px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin: 10px;
  font-size: 1.2em;
  border-bottom: 1px solid rgb(38, 43, 49);
}
option{
    font-size: 1.2em;
}

.header-style{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.route-table{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table{
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}

tr{
    border-bottom: 1px solid rgb(38, 43, 49);
    /* padding: 10px; */

}

th, td{
    text-align: center;
    padding: 10px;
}

input[type="datetime-local"]{
    width: 500px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin: 10px;
    font-size: 1.2em;
    border-bottom: 1px solid rgb(38, 43, 49);
}

.profile-page{

    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;;
}

.profile-detail{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 3px 2px 5px 0px rgba(165, 151, 151, 0.75);
    padding: 30px;
    border-radius: 20px;
}

.ticket-container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ticket-card p{
    margin: 5px;
}

.ticket-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ticket-card{
    width: 300px;
    /* height: 550px; */
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    margin: 40px;
    /* give me a beauty box shadow1 */
    box-shadow: 3px 2px 5px 0px rgba(165, 151, 151, 0.75);
}

.success-ticket{
    border-left: 25px solid greenyellow;
}
.danger-ticket{
    border-left: 25px solid red;
}

.not-paid{
    background-color: rgb(235, 104, 104);
    padding: 5px;
    border-radius: 10px;
    color: white;
}
.paid{
    background-color: rgb(119, 235, 104);
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.payment-container{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}